[project]
	description = Area for initial design & reference code. Will be replaced with proper implementation and design docs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kuiying Wang (kuiyingw)
[access "refs/for/refs/*"]
	read = group user/Kuiying Wang (kuiyingw)
	push = group user/Kuiying Wang (kuiyingw)
	label-Code-Review = -2..+2 group user/Kuiying Wang (kuiyingw)
	label-Verified = -1..+1 group user/Kuiying Wang (kuiyingw)
	rebase = group user/Kuiying Wang (kuiyingw)
	removeReviewer = group user/Kuiying Wang (kuiyingw)
	submit = group user/Kuiying Wang (kuiyingw)
[access "refs/heads/*"]
	read = group user/Kuiying Wang (kuiyingw)
	create = group user/Kuiying Wang (kuiyingw)
	push = +force group user/Kuiying Wang (kuiyingw)
	pushMerge = group user/Kuiying Wang (kuiyingw)
[access "refs/tags/*"]
	push = group user/Kuiying Wang (kuiyingw)
	push = +force group user/Kuiying Wang (kuiyingw)
