[project]
	description = Area for initial design & reference code. Will be replaced with proper implementation and design docs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kuiyingw
[access "refs/for/refs/*"]
	read = group user/kuiyingw
	push = group user/kuiyingw
	label-Code-Review = -2..+2 group user/kuiyingw
	label-Verified = -1..+1 group user/kuiyingw
	rebase = group user/kuiyingw
	removeReviewer = group user/kuiyingw
	submit = group user/kuiyingw
[access "refs/heads/*"]
	read = group user/kuiyingw
	create = group user/kuiyingw
	push = +force group user/kuiyingw
	pushMerge = group user/kuiyingw
[access "refs/tags/*"]
	push = group user/kuiyingw
	push = +force group user/kuiyingw
